body {
 background: #eeeeee;
}

#canvas {
 background: #ffffff;
 cursor: pointer;
 margin-left: 10px;
 margin-top: 10px;
 -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
 -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
 box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

#fact1 {
 position: absolute;
 cursor: pointer;
 left:  80px;
 top: 320px;
 width: 1em;
 font: 60px arial,sans-serif;
 text-align: center;
}
 
#x {
 position: absolute;
 left:  164px;
 top: 260px;
 font: 60px arial,sans-serif;
}

#fact2 {
 position: absolute;
 cursor: pointer;
 left:  212px;
 top: 320px;
 width: 1em;
 font: 60px arial,sans-serif;
 text-align: center;
}
 
#equal{
 position: absolute;
 left:  340px;
 top: 264px;
 font: 60px arial,sans-serif;
}

#prod1 {
 position: absolute;
 cursor: pointer;
 left:  436px;
 top: 320px;
 width: 1em;
 height: 1.3em;
 font: 60px arial,sans-serif;
 text-align: center;
}
  
#prod2 {
 position: absolute;
 cursor: pointer;
 left:  500px;
 top: 320px;
 width: 1em;
 height: 1.3em;
 font: 60px arial,sans-serif;
 text-align: center;
}
  
#answer {
 position: absolute;
 left:  460px;
 top: 320px;
 width: 1.1em;
 text-align: right;
 font: 60px arial,sans-serif;
 }
 
 #askme {
 position: absolute;
 cursor: pointer;
 left:  124px;
 top: 416px;
 font-size: 30px;
}
 
 #difficulty {
 position: absolute;
 left: 145px;
 top: 460px;
}

 #showme {
 position: absolute;
 cursor: pointer;
 left:  427px;
 top: 416px;
 font-size: 30px;
}

#keyboard {
 position: absolute;
 left: 58px;
 top: 0px;
 width: 240px;
 height: 0px;

 background: rgba(229, 229, 238, 1);

 -webkit-box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 4px;
 -moz-box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 4px;
 box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 4px;
}
